/*------------------------
	icons
-------------------------*/
@function unicode($str) {
  @return unquote("\"\\#{$str}\"");
}

$icon-GIF: unicode(ea01);
$icon-add: unicode(ea02);
$icon-ar: unicode(ea03);
$icon-back: unicode(ea04);
$icon-calendar: unicode(ea05);
$icon-camera: unicode(ea06);
$icon-card: unicode(ea07);
$icon-center-align: unicode(ea08);
$icon-challenge: unicode(ea09);
$icon-close: unicode(ea0a);
$icon-close2: unicode(ea0b);
$icon-colour: unicode(ea0c);
$icon-delete: unicode(ea0d);
$icon-double-chevron: unicode(ea0e);
$icon-edit-2: unicode(ea0f);
$icon-edit: unicode(ea10);
$icon-edit2: unicode(ea11);
$icon-exclusive-crown: unicode(ea12);
$icon-font: unicode(ea13);
$icon-format: unicode(ea14);
$icon-fullscreen: unicode(ea15);
$icon-game: unicode(ea16);
$icon-game2: unicode(ea17);
$icon-gift: unicode(ea18);
$icon-group: unicode(ea19);
$icon-history: unicode(ea1a);
$icon-image: unicode(ea1b);
$icon-interactive-filled: unicode(ea1c);
$icon-interactive: unicode(ea1d);
$icon-left-align: unicode(ea1e);
$icon-left: unicode(ea1f);
$icon-leftSmall: unicode(ea20);
$icon-library: unicode(ea21);
$icon-like-full: unicode(ea22);
$icon-like: unicode(ea23);
$icon-location: unicode(ea24);
$icon-lock: unicode(ea25);
$icon-mail: unicode(ea26);
$icon-menu: unicode(ea27);
$icon-money: unicode(ea28);
$icon-more: unicode(ea29);
$icon-music-off: unicode(ea2a);
$icon-music: unicode(ea2b);
$icon-mute: unicode(ea2c);
$icon-mute2: unicode(ea2d);
$icon-note-bg-color: unicode(ea2e);
$icon-note: unicode(ea2f);
$icon-note1: unicode(ea30);
$icon-note2: unicode(ea31);
$icon-ok: unicode(ea32);
$icon-open: unicode(ea33);
$icon-package: unicode(ea34);
$icon-pause: unicode(ea35);
$icon-play: unicode(ea36);
$icon-premium-filled: unicode(ea37);
$icon-premium: unicode(ea38);
$icon-preview: unicode(ea39);
$icon-quote-filled: unicode(ea3a);
$icon-quote: unicode(ea3b);
$icon-receipt: unicode(ea3c);
$icon-received: unicode(ea3d);
$icon-refresh: unicode(ea3e);
$icon-reorder: unicode(ea3f);
$icon-replay: unicode(ea40);
$icon-right-align: unicode(ea41);
$icon-right: unicode(ea42);
$icon-rightSmall: unicode(ea43);
$icon-rotate-camera: unicode(ea44);
$icon-search: unicode(ea45);
$icon-sent: unicode(ea46);
$icon-sent2: unicode(ea47);
$icon-settings: unicode(ea48);
$icon-share: unicode(ea49);
$icon-slide-show: unicode(ea4a);
$icon-stop: unicode(ea4b);
$icon-title: unicode(ea4c);
$icon-toolbox: unicode(ea4d);
$icon-tools: unicode(ea4e);
$icon-undo: unicode(ea4f);
$icon-upload: unicode(ea50);
$icon-video-replay: unicode(ea51);
$icon-video: unicode(ea52);
$icon-volume2: unicode(ea53);
$icon-volumn: unicode(ea54);
$icon-warning: unicode(ea56);
$icon-widget: unicode(ea55);
$icon-window: unicode(ea57);
$icon-youtube: unicode(ea58);

.icon-GIF::before {
  content: $icon-GIF;
}

.icon-add::before {
  content: $icon-add;
}

.icon-ar::before {
  content: $icon-ar;
}

.icon-back::before {
  content: $icon-back;
}

.icon-calendar::before {
  content: $icon-calendar;
}

.icon-camera::before {
  content: $icon-camera;
}

.icon-card::before {
  content: $icon-card;
}

.icon-center-align::before {
  content: $icon-center-align;
}

.icon-challenge::before {
  content: $icon-challenge;
}

.icon-close::before {
  content: $icon-close;
}

.icon-close2::before {
  content: $icon-close2;
}

.icon-colour::before {
  content: $icon-colour;
}

.icon-delete::before {
  content: $icon-delete;
}

.icon-double-chevron::before {
  content: $icon-double-chevron;
}

.icon-edit-2::before {
  content: $icon-edit-2;
}

.icon-edit::before {
  content: $icon-edit;
}

.icon-edit2::before {
  content: $icon-edit2;
}

.icon-exclusive-crown::before {
  content: $icon-exclusive-crown;
}

.icon-font::before {
  content: $icon-font;
}

.icon-format::before {
  content: $icon-format;
}

.icon-fullscreen::before {
  content: $icon-fullscreen;
}

.icon-game::before {
  content: $icon-game;
}

.icon-game2::before {
  content: $icon-game2;
}

.icon-gift::before {
  content: $icon-gift;
}

.icon-group::before {
  content: $icon-group;
}

.icon-history::before {
  content: $icon-history;
}

.icon-image::before {
  content: $icon-image;
}

.icon-interactive-filled::before {
  content: $icon-interactive-filled;
}

.icon-interactive::before {
  content: $icon-interactive;
}

.icon-left-align::before {
  content: $icon-left-align;
}

.icon-left::before {
  content: $icon-left;
}

.icon-leftSmall::before {
  content: $icon-leftSmall;
}

.icon-library::before {
  content: $icon-library;
}

.icon-like-full::before {
  content: $icon-like-full;
}

.icon-like::before {
  content: $icon-like;
}

.icon-location::before {
  content: $icon-location;
}

.icon-lock::before {
  content: $icon-lock;
}

.icon-mail::before {
  content: $icon-mail;
}

.icon-menu::before {
  content: $icon-menu;
}

.icon-money::before {
  content: $icon-money;
}

.icon-more::before {
  content: $icon-more;
}

.icon-music-off::before {
  content: $icon-music-off;
}

.icon-music::before {
  content: $icon-music;
}

.icon-mute::before {
  content: $icon-mute;
}

.icon-mute2::before {
  content: $icon-mute2;
}

.icon-note-bg-color::before {
  content: $icon-note-bg-color;
}

.icon-note::before {
  content: $icon-note;
}

.icon-note1::before {
  content: $icon-note1;
}

.icon-note2::before {
  content: $icon-note2;
}

.icon-ok::before {
  content: $icon-ok;
}

.icon-open::before {
  content: $icon-open;
}

.icon-package::before {
  content: $icon-package;
}

.icon-pause::before {
  content: $icon-pause;
}

.icon-play::before {
  content: $icon-play;
}

.icon-premium-filled::before {
  content: $icon-premium-filled;
}

.icon-premium::before {
  content: $icon-premium;
}

.icon-preview::before {
  content: $icon-preview;
}

.icon-quote-filled::before {
  content: $icon-quote-filled;
}

.icon-quote::before {
  content: $icon-quote;
}

.icon-receipt::before {
  content: $icon-receipt;
}

.icon-received::before {
  content: $icon-received;
}

.icon-refresh::before {
  content: $icon-refresh;
}

.icon-reorder::before {
  content: $icon-reorder;
}

.icon-replay::before {
  content: $icon-replay;
}

.icon-right-align::before {
  content: $icon-right-align;
}

.icon-right::before {
  content: $icon-right;
}

.icon-rightSmall::before {
  content: $icon-rightSmall;
}

.icon-rotate-camera::before {
  content: $icon-rotate-camera;
}

.icon-search::before {
  content: $icon-search;
}

.icon-sent::before {
  content: $icon-sent;
}

.icon-sent2::before {
  content: $icon-sent2;
}

.icon-settings::before {
  content: $icon-settings;
}

.icon-share::before {
  content: $icon-share;
}

.icon-slide-show::before {
  content: $icon-slide-show;
}

.icon-stop::before {
  content: $icon-stop;
}

.icon-title::before {
  content: $icon-title;
}

.icon-toolbox::before {
  content: $icon-toolbox;
}

.icon-tools::before {
  content: $icon-tools;
}

.icon-undo::before {
  content: $icon-undo;
}

.icon-upload::before {
  content: $icon-upload;
}

.icon-video-replay::before {
  content: $icon-video-replay;
}

.icon-video::before {
  content: $icon-video;
}

.icon-volume2::before {
  content: $icon-volume2;
}

.icon-volumn::before {
  content: $icon-volumn;
}

.icon-warning::before {
  content: $icon-warning;
}

.icon-widget::before {
  content: $icon-widget;
}

.icon-window::before {
  content: $icon-window;
}

.icon-youtube::before {
  content: $icon-youtube;
}

