/*------------------------
	icons
-------------------------*/
@icon-GIF: "\ea01";
@icon-ar: "\ea02";
@icon-back: "\ea03";
@icon-calendar: "\ea04";
@icon-camera: "\ea05";
@icon-card: "\ea06";
@icon-center-align: "\ea07";
@icon-challenge: "\ea08";
@icon-close: "\ea09";
@icon-colour: "\ea0a";
@icon-delete: "\ea0b";
@icon-edit-2: "\ea0c";
@icon-edit: "\ea0d";
@icon-edit2: "\ea0e";
@icon-font: "\ea0f";
@icon-format: "\ea10";
@icon-fullscreen: "\ea11";
@icon-game: "\ea12";
@icon-game2: "\ea13";
@icon-gift: "\ea14";
@icon-history: "\ea15";
@icon-image: "\ea16";
@icon-left-align: "\ea17";
@icon-left: "\ea18";
@icon-leftSmall: "\ea19";
@icon-library: "\ea1a";
@icon-like-full: "\ea1b";
@icon-like: "\ea1c";
@icon-location: "\ea1d";
@icon-lock: "\ea1e";
@icon-menu: "\ea1f";
@icon-more: "\ea20";
@icon-mute: "\ea21";
@icon-mute2: "\ea22";
@icon-note: "\ea23";
@icon-note1: "\ea24";
@icon-note2: "\ea25";
@icon-ok: "\ea26";
@icon-open: "\ea27";
@icon-pause: "\ea28";
@icon-play: "\ea29";
@icon-preview: "\ea2a";
@icon-receipt: "\ea2b";
@icon-received: "\ea2c";
@icon-refresh: "\ea2d";
@icon-reorder: "\ea2e";
@icon-replay: "\ea2f";
@icon-right-align: "\ea30";
@icon-right: "\ea31";
@icon-rightSmall: "\ea32";
@icon-rotate-camera: "\ea33";
@icon-search: "\ea34";
@icon-sent: "\ea35";
@icon-sent2: "\ea36";
@icon-settings: "\ea37";
@icon-share: "\ea38";
@icon-slide-show: "\ea39";
@icon-title: "\ea3a";
@icon-toolbox: "\ea3b";
@icon-tools: "\ea3c";
@icon-undo: "\ea3d";
@icon-upload: "\ea3e";
@icon-video-replay: "\ea3f";
@icon-video: "\ea40";
@icon-volumn: "\ea41";
@icon-window: "\ea42";
@icon-youtube: "\ea43";

.icon-GIF::before {
  content: @icon-GIF;
}

.icon-ar::before {
  content: @icon-ar;
}

.icon-back::before {
  content: @icon-back;
}

.icon-calendar::before {
  content: @icon-calendar;
}

.icon-camera::before {
  content: @icon-camera;
}

.icon-card::before {
  content: @icon-card;
}

.icon-center-align::before {
  content: @icon-center-align;
}

.icon-challenge::before {
  content: @icon-challenge;
}

.icon-close::before {
  content: @icon-close;
}

.icon-colour::before {
  content: @icon-colour;
}

.icon-delete::before {
  content: @icon-delete;
}

.icon-edit-2::before {
  content: @icon-edit-2;
}

.icon-edit::before {
  content: @icon-edit;
}

.icon-edit2::before {
  content: @icon-edit2;
}

.icon-font::before {
  content: @icon-font;
}

.icon-format::before {
  content: @icon-format;
}

.icon-fullscreen::before {
  content: @icon-fullscreen;
}

.icon-game::before {
  content: @icon-game;
}

.icon-game2::before {
  content: @icon-game2;
}

.icon-gift::before {
  content: @icon-gift;
}

.icon-history::before {
  content: @icon-history;
}

.icon-image::before {
  content: @icon-image;
}

.icon-left-align::before {
  content: @icon-left-align;
}

.icon-left::before {
  content: @icon-left;
}

.icon-leftSmall::before {
  content: @icon-leftSmall;
}

.icon-library::before {
  content: @icon-library;
}

.icon-like-full::before {
  content: @icon-like-full;
}

.icon-like::before {
  content: @icon-like;
}

.icon-location::before {
  content: @icon-location;
}

.icon-lock::before {
  content: @icon-lock;
}

.icon-menu::before {
  content: @icon-menu;
}

.icon-more::before {
  content: @icon-more;
}

.icon-mute::before {
  content: @icon-mute;
}

.icon-mute2::before {
  content: @icon-mute2;
}

.icon-note::before {
  content: @icon-note;
}

.icon-note1::before {
  content: @icon-note1;
}

.icon-note2::before {
  content: @icon-note2;
}

.icon-ok::before {
  content: @icon-ok;
}

.icon-open::before {
  content: @icon-open;
}

.icon-pause::before {
  content: @icon-pause;
}

.icon-play::before {
  content: @icon-play;
}

.icon-preview::before {
  content: @icon-preview;
}

.icon-receipt::before {
  content: @icon-receipt;
}

.icon-received::before {
  content: @icon-received;
}

.icon-refresh::before {
  content: @icon-refresh;
}

.icon-reorder::before {
  content: @icon-reorder;
}

.icon-replay::before {
  content: @icon-replay;
}

.icon-right-align::before {
  content: @icon-right-align;
}

.icon-right::before {
  content: @icon-right;
}

.icon-rightSmall::before {
  content: @icon-rightSmall;
}

.icon-rotate-camera::before {
  content: @icon-rotate-camera;
}

.icon-search::before {
  content: @icon-search;
}

.icon-sent::before {
  content: @icon-sent;
}

.icon-sent2::before {
  content: @icon-sent2;
}

.icon-settings::before {
  content: @icon-settings;
}

.icon-share::before {
  content: @icon-share;
}

.icon-slide-show::before {
  content: @icon-slide-show;
}

.icon-title::before {
  content: @icon-title;
}

.icon-toolbox::before {
  content: @icon-toolbox;
}

.icon-tools::before {
  content: @icon-tools;
}

.icon-undo::before {
  content: @icon-undo;
}

.icon-upload::before {
  content: @icon-upload;
}

.icon-video-replay::before {
  content: @icon-video-replay;
}

.icon-video::before {
  content: @icon-video;
}

.icon-volumn::before {
  content: @icon-volumn;
}

.icon-window::before {
  content: @icon-window;
}

.icon-youtube::before {
  content: @icon-youtube;
}
